*{
  font-family: sans-serif;
}
body{
  background-color: #222;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.App{
  border: 2px solid #fff;
  border-radius: 20px;
  padding:40px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App button{
  width: 50%;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s;
  padding: 13px;
  font-weight: 700;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.App button:hover{
  background-color:brown;
  transform: scale(1.1);
  font-weight: 600;
}
.App input{
  width: 90%;
  padding: 5px;
  border-radius: 4px;
  margin-top: 50px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  transition: .3s;
}
.App input:focus{
  transform: scale(1.2);
  border: 3px dotted chocolate;
}
.App h2{
  text-align: center;
}
.list{
  width: 190px;
  overflow-wrap: break-word;
  list-style-type: "✏️";
  padding: 30px;
}

li{
  cursor: pointer;
  text-transform:capitalize;
}

.done{
  text-decoration: line-through;
}
.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
span{
  cursor: pointer;
}
.note{
  text-align: center;
  opacity: .7;
}